<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Tutto sul meteo a vostra disposizione!">
    <meta name="keywords" content="Meteo, Stazione metereologica, Pioggia, Vento, Caldo, Freddo">
    <meta name="author" content="Toni Greco">
    <meta name="copyright" content="tonigreco.it">
    <meta name="robots" content="noindex">
    <!--<meta http-equiv="refresh" content="60">-->
    <meta http-equiv="Expires" content="0" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stazione metereologica</title>
    <link rel="stylesheet" href="/common/css/common.css">
</head>

<body>
    <div id="container">
        <div id="menu">
            <header>
                <img src="/common/imgs/logo.png" alt="Logo del sito">
                <h1>Circuito di antirimbalzo</h1>
            </header>
            <nav>
                <ul>
                    <li><a href="/index.html">Home</a></li>
                    <li><a href="/pages/Informazioni/informazioni.html">Informazioni</a></li>
                    <li><a href="/pages/Contatti/contatti.html">Contatti</a></li>
                    <li>
                        <a href="/pages/StazioneMeteo/stazioneMeteo.html">Stazione Meterologica</a>
                        <ul>
                            <li>
                                <a href="/pages/StazioneMeteo/stazioneMeteo.html">Esterno</a>
                                <ul>
                                    <li><a href="/pages/StazioneMeteo/components/mainStation/acqetra.html">Acquisizione e trasmissione</a></li>
                                    <li><a href="/pages/StazioneMeteo/components/mainStation/anemometro.html">Anemometro</a></li>
                                    <li><a href="/pages/StazioneMeteo/components/mainStation/banderuola.html">Banderuola</a></li>
                                    <li><a href="/pages/StazioneMeteo/components/mainStation/encoders.html">Encoders</a></li>
                                    <li><a href="/pages/StazioneMeteo/components/mainStation/picam.html">PiCam</a></li>
                                    <li><a href="/pages/StazioneMeteo/components/mainStation/proterigro.html">Termometro e Igrometro</a></li>
                                    <li><a href="/pages/StazioneMeteo/components/mainStation/pulviometro.html">Pluvometro</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="/pages/StazioneMeteo/components/mainStation/acqetra.html">Interno</a>
                                <ul>
                                    <li><a href="/pages/StazioneMeteo/components/electronic/antirimbalzo.html">Circuito antirimbalzo</a></li>
                                    <li><a href="/pages/StazioneMeteo/components/electronic/batteriaCont.html">Batteria di continuità</a></li>
                                    <li><a href="/pages/StazioneMeteo/components/electronic/picam.html">PiCam</a></li>
                                    <li><a href="/pages/StazioneMeteo/components/electronic/raspberry.html">Raspberry</a></li>
                                    <li><a href="/pages/StazioneMeteo/components/electronic/regtenin.html">Regolatore tensione input</a></li>
                                    <li><a href="/pages/StazioneMeteo/components/electronic/regtenout.html">Regolatore tensione output</a></li>
                                    <li><a href="/pages/StazioneMeteo/components/electronic/ups.html">UPS</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="/pages/StazioneMeteo/components/mainStation/encoders.html">Encoders</a>
                                <ul>
                                    <li><a href="/pages/StazioneMeteo/components/encoders/incbas.html">Encoder assoluto</a></li>
                                    <li><a href="/pages/StazioneMeteo/components/encoders/incenc.html">Encoder incrementale</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>

        <div id="main-content">
            <main>
                <section>
                    <h2>Descrizione</h2>
                    <p>Filtra il segnale per evitare rimbalzi</p>

                </section>
                <section>

                </section>
            </main>
        </div>

        <div id="other-content">
            <aside>
                <h3>Link correlati</h3>
                <ul>
                    <li><a href="https://it.wikipedia.org/wiki/Stazione_meteorologica">Stazione metereologica</a></li>
                </ul>
            </aside>
        </div>

        <div id="footer">
            <footer>
                <p>Creato da Andrea Maria Castronovo<sup>©</sup><p>
                <p>Tutti i diritti riservati.</p>
                <p>Contattami a <a href="mailto:andreamaria.castronovo.stud@ispascalcomandini.it">andreamaria.castronovo.stud@ispascalcomandini.it</a></p>
            </footer>
        </div>
    </div>
</body>